In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv("~/downloads/finance.csv")

In [13]:
df.tail(100)

,Unnamed: 0,country,year,Has a Bank account,Type of Location,Cell Phone Access,household_size,Respondent Age,gender_of_respondent,The relathip with head,marital_status,Level of Educuation,Type of Job
22803,23416,Uganda,1970-01-01 00:00:00.000002018,No,Rural,No,4.0,23.0,Male,Head of Household,Married/Living together,Primary education,Self employed
22804,23417,Uganda,1970-01-01 00:00:00.000002018,No,Urban,Yes,3.0,23.0,Male,Other non-relatives,Single/Never Married,Secondary education,Formally employed Private
22805,23418,Uganda,1970-01-01 00:00:00.000002018,No,Rural,Yes,7.0,29.0,Female,Spouse,Married/Living together,Primary education,Self employed
22806,23419,Uganda,1970-01-01 00:00:00.000002018,No,Urban,Yes,4.0,22.0,Female,Parent,Single/Never Married,Secondary education,No Income
22807,23420,Uganda,1970-01-01 00:00:00.000002018,No,Rural,Yes,7.0,46.0,Male,Head of Household,Married/Living together,Primary education,Self employed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22898,23518,Uganda,1970-01-01 00:00:00.000002018,No,Rural,Yes,NaN,20.0,Female,Child,Single/Never Married,Primary education,No Income
22899,23519,Uganda,1970-01-01 00:00:00.000002018,No,Rural,Yes,4.0,48.0,Female,Head of Household,Divorced/Seperated,No formal education,Other Income
22900,23520,Uganda,1970-01-01 00:00:00.000002018,No,Rural,Yes,2.0,27.0,Female,Head of Household,Single/Never Married,Secondary education,Other Income
22901,23521,Uganda,1970-01-01 00:00:00.000002018,No,Rural,Yes,5.0,27.0,Female,Parent,Widowed,Primary education,Other Income
22902,23522,Uganda,1970-01-01 00:00:00.000002018,No,Urban,Yes,7.0,30.0,Female,Parent,Divorced/Seperated,Secondary education,Self employed

In [7]:
df.mean()

NameError: name 'df' is not defined

In [8]:
df.median()

NameError: name 'df' is not defined

In [9]:
x=(df["Respondent Age"])
plt.hist(x,100,density=True, facecolor="green")
plt.show()

NameError: name 'df' is not defined