In [1]:
import pandas as pd
import numpy as np

In [2]:
#funtion that generates dataframe
def make_df(cols,ind):
    """Quickly make a DataFrame"""
    data={c:[str(c)+str(i) for i in ind]
         for c in cols}
    return pd.DataFrame(data,ind)

#example Df
make_df('ABC',range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [3]:
#rem concat of numpy arrays
x=[1,2,3]
y=[4,5,6]
z=[7,8,9]
np.concatenate([x,y,z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
x=[[1,2],
  [3,4]]
np.concatenate([x,x],axis=1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

In [5]:
#simple concatenation with pd.concat
#Signature 
pd.concat(objs,axis=0,join='outer',join_axes=None,ignore_index=False,
         keys=None,levels=None,names=None,verify_integrity=False,
         copy=True)

NameError: name 'objs' is not defined

In [6]:
ser1=pd.Series(['A','B','C'],index=[1,2,3])
ser2=pd.Series(['D','E','F'],index=[4,5,6])
pd.concat([ser1,ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [7]:
df1=make_df('AB',[1,2])
df2=make_df('AB',[3,4])
print(df1);print(df2);print(pd.concat([df1,df2]))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [8]:
df3=make_df('AB',[0,1])
df4=make_df('CD',[0,1])
print(df3);print(df4);print(pd.concat([df3,df4],axis='columns'))

    A   B
0  A0  B0
1  A1  B1
    C   D
0  C0  D0
1  C1  D1
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

In [9]:
#Duplicate indices
x=make_df('AB',[0,1])
y=make_df('AB',[2,3])
y.index=x.index#make duplicate indices
print(x); print(y); print(pd.concat([x,y]))

    A   B
0  A0  B0
1  A1  B1
    A   B
0  A2  B2
1  A3  B3
    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

In [10]:
#catching exception
try:
    pd.concat([x,y],verify_integrity=True)
except ValueError as e:
    print("ValueError: ",e)

ValueError:  Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

In [11]:
#ignoring the index
print(x); print(y); print(pd.concat([x,y],ignore_index=True))

    A   B
0  A0  B0
1  A1  B1
    A   B
0  A2  B2
1  A3  B3
    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [12]:
#adding multiIndex keys
print(x); print(y); print(pd.concat([x,y],keys=['x','y']))

    A   B
0  A0  B0
1  A1  B1
    A   B
0  A2  B2
1  A3  B3
      A   B
x 0  A0  B0
  1  A1  B1
y 0  A2  B2
  1  A3  B3

In [13]:
#concatenation with joins
df5=make_df('ABC',[1,2])
df6=make_df('BCD',[3,4])
print(df5); print(df6); print(pd.concat([df5,df6]))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
    B   C   D
3  B3  C3  D3
4  B4  C4  D4
     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

In [14]:
print(df5); print(df6); print(pd.concat([df5,df6],join='inner'))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
    B   C   D
3  B3  C3  D3
4  B4  C4  D4
    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [20]:
print(df5); print(df6); 
print(pd.concat([df5,df6],join_axes=[df5.columns]))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread

TypeError: concat() got an unexpected keyword argument 'join_axes'

In [21]:
#the append method
print(df1);print(df2);print(df1.append(df2))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

C:\Users\User\AppData\Local\Temp\ipykernel_8104\3312391872.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(df1);print(df2);print(df1.append(df2))

In [22]:
#Combining Datasets:Merge and Join
#categories of joins
#1-->1
df1=pd.DataFrame({'employee':['Bob','Jake','Lisa','Sue'],
                 'group':['Accounting','Engineering','Engineering','HR']})
df2=pd.DataFrame({'employee':['Lisa','Bob','Jake','Sue'],
                 'hire_date':[2004,2008,2012,2014]})
print(df1); print(df2)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [23]:
df3=pd.merge(df1, df2)
df3

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [24]:
#M-->1 joins
df4=pd.DataFrame({'group':['Accounting','Engineering','HR'],
                 'supervisor':['Carly','Guido','Steve']})
print(df3); print(df4); print(pd.merge(df3,df4))

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve
  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

In [25]:
pd.merge(df3,df4)

  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

In [26]:
#M--M joins
df5=pd.DataFrame({'group':['Accounting','Accounting','Engineering',
                           'Engineering','HR','HR'],
                  'skills':['math','spreadsheets','coding','linux',
                           'spreadsheets','organization']})
print(df1); print(df5); print(pd.merge(df1,df5))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization
  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

In [27]:
#specification of the merge key
#on keyword
print(df1); print(df2); print(pd.merge(df1,df2, on='employee'))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [28]:
#left_on and right_on keyword
df3=pd.DataFrame({'name':['Bob','Jake','Lisa','Sue'],
                 'salary':[70000,120000,95000,100000]})
print(df1); print(df3);
print(pd.merge(df1,df3, left_on='employee',right_on='name'))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
   name  salary
0   Bob   70000
1  Jake  120000
2  Lisa   95000
3   Sue  100000
  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake  120000
2     Lisa  Engineering  Lisa   95000
3      Sue           HR   Sue  100000

In [29]:
pd.merge(df1,df3, left_on='employee', right_on='name').drop('name', axis=1)

  employee        group  salary
0      Bob   Accounting   70000
1     Jake  Engineering  120000
2     Lisa  Engineering   95000
3      Sue           HR  100000

In [30]:
#left_index and right_index keywords
df1a=df1.set_index('employee')
df2a=df2.set_index('employee')
print(df1a);print(df2a)

                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR
          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014

In [31]:
print(df1a);print(df2a); print(pd.merge(df1a,df2a,left_index=True,
                                       right_index=True))

                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR
          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014
                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014

In [32]:
print(df1a); print(df2a); print(df1a.join(df2a))

                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR
          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014
                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014

In [33]:
print(df1a); print(df3); 
print(pd.merge(df1a,df3, left_index=True, right_on='name'))

                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR
   name  salary
0   Bob   70000
1  Jake  120000
2  Lisa   95000
3   Sue  100000
         group  name  salary
0   Accounting   Bob   70000
1  Engineering  Jake  120000
2  Engineering  Lisa   95000
3           HR   Sue  100000

In [34]:
#specifying set arithmetic for joins
df6=pd.DataFrame({'name':['Peter','Paul','Mary'],
                 'food':['fish','beans','bread']},
                columns=['name','food'])
df7=pd.DataFrame({'name':['Mary','Joseph'],
                 'drink':['wine','beer']},
                columns=['name','drink'])

print(df6);print(df7);print(pd.merge(df6,df7))

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread
     name drink
0    Mary  wine
1  Joseph  beer
   name   food drink
0  Mary  bread  wine

In [35]:
pd.merge(df6,df7, how='inner')

   name   food drink
0  Mary  bread  wine

In [36]:
print(df6);print(df7);print(pd.merge(df6,df7, how='outer'))

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread
     name drink
0    Mary  wine
1  Joseph  beer
     name   food drink
0   Peter   fish   NaN
1    Paul  beans   NaN
2    Mary  bread  wine
3  Joseph    NaN  beer

In [37]:
print(df6);print(df7); pd.merge(df6,df7, how='left')

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread
     name drink
0    Mary  wine
1  Joseph  beer

    name   food drink
0  Peter   fish   NaN
1   Paul  beans   NaN
2   Mary  bread  wine

In [38]:
#Overlapping column names:suffixes keyword
df8=pd.DataFrame({'name':['Bob','Jake','Lisa','Sue'],
                 'rank':[1,2,3,4]})
df9=pd.DataFrame({'name':['Bob','Jake','Lisa','Sue'],
                 'rank':[3,1,4,2]})

print(df8); print(df9); pd.merge(df8,df9,on='name')

   name  rank
0   Bob     1
1  Jake     2
2  Lisa     3
3   Sue     4
   name  rank
0   Bob     3
1  Jake     1
2  Lisa     4
3   Sue     2

   name  rank_x  rank_y
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2

In [39]:
print(df8); print(df9);
pd.merge(df8, df9, on="name", suffixes=["_L", "_R"])

   name  rank
0   Bob     1
1  Jake     2
2  Lisa     3
3   Sue     4
   name  rank
0   Bob     3
1  Jake     1
2  Lisa     4
3   Sue     2

   name  rank_L  rank_R
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2

In [40]:
#Examples with USA states data
pop=pd.read_csv('~/downloads/2021-alldata.csv')
pop

,SUMLEV,REGION,DIVISION,STATE,NAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,NPOPCHG_2020,NPOPCHG_2021,...,NETMIG2020,NETMIG2021,RESIDUAL2020,RESIDUAL2021,RBIRTH2021,RDEATH2021,RNATURALINC2021,RINTERNATIONALMIG2021,RDOMESTICMIG2021,RNETMIG2021
0,10,0,0,0,United States,331449281,331501080,331893745,51799,392665,...,12247,244622,0,0,10.798957,10.352637,0.446319,0.737485,0.000000,0.737485
1,20,1,0,0,Northeast Region,57609148,57525633,57159838,-83515,-365795,...,-79429,-333592,-1024,-1151,9.950554,10.492070,-0.541516,0.977386,-6.794897,-5.817511
2,20,2,0,0,Midwest Region,68985454,68935174,68841444,-50280,-93730,...,-47266,-85268,-718,5156,10.860566,11.058248,-0.197682,0.549222,-1.786994,-1.237772
3,20,3,0,0,South Region,126266107,126409007,127225329,142900,816322,...,134454,770076,528,-3385,11.168835,10.777476,0.391359,0.886268,5.186064,6.072332
4,20,4,0,0,West Region,78588572,78631266,78667134,42694,35868,...,4488,-106594,1214,-620,10.767153,8.947910,1.819243,0.487570,-1.842880,-1.355309
5,40,3,6,1,Alabama,5024279,5024803,5039877,524,15074,...,3337,23380,-75,242,11.191613,12.890226,-1.698613,0.247201,4.398749,4.645950
6,40,4,9,2,Alaska,733391,732441,732673,-950,232,...,-2012,-3353,39,-54,12.667956,7.700425,4.967532,0.718033,-5.295151,-4.577118
7,40,4,8,4,Arizona,7151502,7177986,7276316,26484,98330,...,26791,97504,-3,-6,10.584669,10.469547,0.115121,0.619608,12.871739,13.491347
8,40,3,7,5,Arkansas,3011524,3012232,3025891,708,13659,...,1618,16840,-15,55,11.599962,12.671819,-1.071856,0.272932,5.304960,5.577892
9,40,4,9,6,California,39538223,39499738,39237836,-38485,-261902,...,-62562,-352960,858,-938,10.778412,8.441637,2.336775,0.364223,-9.329701,-8.965478
10,40,4,8,8,Colorado,5773714,5784308,5812069,10594,27761,...,7019,14731,168,343,10.464475,8.276378,2.188097,0.289228,2.251393,2.540621
11,40,1,1,9,Connecticut,3605944,3600260,3605597,-5684,5337,...,-4495,9717,-51,595,9.067901,10.448722,-1.380821,1.272021,1.424952,2.696973
12,40,3,5,10,Delaware,989948,991886,1003384,1938,11498,...,2213,12826,-34,16,10.335443,11.682629,-1.347186,0.620467,12.235938,12.856405
13,40,3,5,11,District of Columbia,689545,690093,670050,548,-20043,...,-241,-21902,31,-312,12.826592,9.634281,3.192311,1.658649,-33.864086,-32.205437
14,40,3,5,12,Florida,21538187,21569932,21781128,31745,211196,...,45738,259480,-1038,-3036,9.702416,11.789931,-2.087515,1.780349,10.190754,11.971103
15,40,3,5,13,Georgia,10711908,10725800,10799566,13892,73766,...,9808,57629,285,144,11.267544,9.781576,1.485968,0.650117,4.704403,5.354520
16,40,4,9,15,Hawaii,1455271,1451911,1441553,-3360,-10358,...,-3533,-11526,-56,-88,10.993052,10.124888,0.868164,0.744436,-8.711358,-7.966921
17,40,4,8,16,Idaho,1839106,1847772,1900923,8666,53151,...,7562,49289,41,-536,11.372491,9.026074,2.346417,0.220343,26.076275,26.296618
18,40,2,3,17,Illinois,12812508,12785245,12671469,-27263,-113776,...,-28962,-116694,113,140,10.456731,10.238478,0.218253,0.453004,-9.621037,-9.168033
19,40,2,3,18,Indiana,6785528,6785644,6805985,116,20341,...,573,19036,-12,613,11.418499,11.316671,0.101827,0.699843,2.101293,2.801136
20,40,2,4,19,Iowa,3190369,3188669,3193079,-1700,4410,...,-1886,3911,-42,266,11.210408,11.137387,0.073021,0.964626,0.261057,1.225683
21,40,2,4,20,Kansas,2937880,2935880,2934582,-2000,-1298,...,-2470,-3886,-1,325,11.470988,10.700010,0.770979,0.461633,-1.785549,-1.323916
22,40,3,6,21,Kentucky,4505836,4503958,4509394,-1878,5436,...,292,11204,-69,360,11.255524,12.615285,-1.359760,0.262278,2.223812,2.486090
23,40,3,7,22,Louisiana,4657757,4651203,4624047,-6554,-27156,...,-6454,-27620,23,-143,12.062640,11.931754,0.130886,0.580470,-6.536104,-5.955635
24,40,1,1,23,Maine,1362359,1362280,1372247,-79,9967,...,1572,16340,-101,-29,8.258101,12.898026,-4.639925,0.634113,11.316765,11.950879
25,40,3,5,24,Maryland,6177224,6172679,6165129,-4545,-7550,...,-6279,-13033,18,231,10.845687,9.994320,0.851367,1.108463,-3.221156,-2.112693
26,40,1,1,25,Massachusetts,7029917,7022220,6984723,-7697,-37497,...,-7174,-33512,-84,249,9.452027,10.056584,-0.604557,1.809817,-6.594872,-4.785056
27,40,2,3,26,Michigan,10077331,10067664,10050811,-9667,-16853,...,-6528,-3726,-230,1226,10.237655,11.664502,-1.426848,0.414246,-0.784652,-0.370406
28,40,2,4,27,Minnesota,5706494,5707165,5707390,671,225,...,-2323,-9411,-31,149,11.049927,9.387663,1.662264,0.708219,-2.357166,-1.648947
29,40,3,6,28,Mississippi,2961279,2956870,2949965,-4409,-6905,...,-2880,-3805,-13,137,11.836119,12.932137,-1.096018,0.149319,-1.437657,-1.288338
30,40,2,4,29,Missouri,6154913,6154481,6168187,-432,13706,...,801,17803,-117,418,11.169334,11.902130,-0.732796,0.477494,2.411978,2.889472
31,40,4,8,30,Montana,1084225,1086193,1104271,1968,18078,...,2271,19791,-36,-193,9.588836,10.976670,-1.387834,0.503090,17.567054,18.070144
32,40,2,4,31,Nebraska,1961504,1961455,1963692,-49,2237,...,-1109,-2269,2,195,11.986303,9.789697,2.196606,0.531955,-1.688090,-1.156135
33,40,4,8,32,Nevada,3104614,3114071,3143991,9457,29920,...,9089,27516,69,329,10.828592,10.165447,0.663145,0.699578,8.094199,8.793777
34,40,1,1,33,New Hampshire,1377529,1377848,1388992,319,11144,...,1126,14851,-61,37,8.250567,10.956904,-2.706336,0.898498,9.836492,10.734990
35,40,1,2,34,New Jersey,9288994,9279743,9267130,-9251,-12613,...,-11397,-17752,-18,442,10.271705,9.765204,0.506500,1.079859,-2.994144,-1.914285
36,40,4,8,35,New Mexico,2117522,2117566,2115877,44,-1689,...,355,-719,-50,116,10.391542,10.904599,-0.513058,0.693053,-1.032729,-0.339676
37,40,1,2,36,New York,20201249,20154933,19835913,-46316,-319020,...,-53519,-333878,-90,-3645,10.534411,9.609049,0.925362,0.915560,-17.613281,-16.697721
38,40,3,5,37,North Carolina,10439388,10457177,10551162,17789,93985,...,18651,95429,-19,254,10.853880,11.015531,-0.161650,0.643173,8.441695,9.084869
39,40,2,4,38,North Dakota,779094,778962,774948,-132,-4014,...,-662,-6166,8,-58,12.610769,9.766331,2.844438,0.378400,-8.314510,-7.936110
40,40,2,3,39,Ohio,11799448,11790587,11780017,-8861,-10570,...,-4053,3956,-272,1285,10.911473,12.253059,-1.341586,0.601088,-0.265415,0.335672
41,40,3,7,40,Oklahoma,3959353,3962031,3986639,2678,24608,...,2982,26210,10,268,11.857330,12.327849,-0.470519,0.383209,6.211605,6.594814
42,40,4,9,41,Oregon,4237256,4241544,4246155,4288,4611,...,5310,9181,-113,145,9.396422,10.507441,-1.111020,0.259434,1.903932,2.163366
43,40,1,2,42,Pennsylvania,13002700,12989625,12964056,-13075,-25569,...,-4863,4273,-547,1036,9.890774,12.270244,-2.379470,0.575410,-0.246131,0.329279
44,40,1,1,44,Rhode Island,1097379,1096229,1095610,-1150,-619,...,-567,1505,-31,126,8.866527,10.919598,-2.053071,0.561173,0.812103,1.373276
45,40,3,5,45,South Carolina,5118425,5130729,5190705,12304,59976,...,14171,67971,-72,-188,10.601821,12.114596,-1.512774,0.608055,12.562789,13.170844
46,40,2,4,46,South Dakota,886667,887099,895376,432,8277,...,47,6603,0,6,12.166230,10.294675,1.871555,1.165795,6.243005,7.408800
47,40,3,6,47,Tennessee,6910840,6920119,6975218,9279,55099,...,12118,63141,-21,-451,11.133663,12.226260,-1.092597,0.252027,8.836058,9.088085
48,40,3,7,48,Texas,29145505,29217653,29527941,72148,310288,...,42300,197492,1608,-1049,12.339649,8.463784,3.875865,0.925516,5.798120,6.723636
49,40,4,8,49,Utah,3271616,3281684,3337975,10068,56291,...,3924,33380,228,-81,13.643905,6.697324,6.946581,0.356514,9.728598,10.085112
50,40,1,1,50,Vermont,643077,642495,645570,-582,3075,...,-112,4864,-41,38,7.852088,10.688902,-2.836813,0.426997,7.125417,7.552414
51,40,3,5,51,Virginia,8631393,8632044,8642274,651,10230,...,-1725,1935,20,-45,10.771713,9.806118,0.965595,1.265462,-1.041430,0.224032
52,40,4,9,53,Washington,7705281,7718785,7738692,13504,19907,...,9991,9204,79,346,10.505337,9.165273,1.340063,1.194632,-0.003752,1.190880
53,40,3,5,54,West Virginia,1793716,1789798,1782959,-3918,-6839,...,-1195,2899,-111,132,9.646332,15.171477,-5.525145,0.311244,1.311592,1.622836
54,40,2,3,55,Wisconsin,5893718,5892323,5895908,-1395,3585,...,-694,5575,-136,591,10.248187,10.686082,-0.437894,0.384791,0.561068,0.945859
55,40,4,8,56,Wyoming,576851,577267,578803,416,1536,...,283,1368,-10,-3,10.748484,10.452654,0.295830,0.200680,2.165959,2.366639
56,40,X,X,72,Puerto Rico,3285874,3281538,3263584,-4336,-17954,...,-1561,-3781,0,0,5.664371,9.995230,-4.330859,-1.155364,0.000000,-1.155364

In [43]:
data2=pd.read_csv('~/downloads/2019-alldata.csv')
data2

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,308745538,308758105,309321666,311556874,313830990,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,55317240,55318443,55380134,55604223,55775216,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,0,Midwest Region,66927001,66929725,66974416,67157800,67336743,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,0,South Region,114555744,114563030,114866680,116006522,117241208,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,0,West Region,71945553,71946907,72100436,72788329,73477823,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083
5,40,3,6,1,Alabama,4779736,4780125,4785437,4799069,4815588,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
6,40,4,9,2,Alaska,710231,710249,713910,722128,730443,...,-12.929847,0.587728,1.416798,-0.955359,-11.460949,-7.997118,-3.897349,-10.992765,-13.859140,-12.031221
7,40,4,8,4,Arizona,6392017,6392288,6407172,6472643,6554978,...,12.609078,4.278167,6.899802,6.376679,9.168478,9.597577,11.964782,10.878879,12.962934,13.687161
8,40,3,7,5,Arkansas,2915918,2916031,2921964,2940667,2952164,...,0.834503,3.294766,0.827785,0.057853,-0.091449,1.075446,1.486269,2.009593,0.958896,0.923429
9,40,4,9,6,California,37253956,37254519,37319502,37638369,37948800,...,-5.151429,1.276797,1.495016,1.649031,2.203551,1.984957,0.500044,-0.629909,-2.130954,-3.276681
10,40,4,8,8,Colorado,5029196,5029319,5047349,5121108,5192647,...,5.473351,7.795086,7.512104,8.492707,9.117126,12.902098,10.634370,8.032033,9.410633,7.311426
11,40,1,1,9,Connecticut,3574097,3574147,3579114,3588283,3594547,...,-6.181756,0.242487,-0.409588,-1.671074,-1.941757,-3.756242,-4.137741,-2.616537,-1.533419,-2.728391
12,40,3,5,10,Delaware,897934,897937,899593,907381,915179,...,7.179090,4.848991,4.843736,6.150901,6.436204,6.713849,5.382576,6.252676,7.631475,7.254377
13,40,3,5,11,District of Columbia,601723,601767,605226,619800,634924,...,-3.130827,16.246186,16.091188,16.784065,10.637447,12.296969,8.092770,6.538613,3.481678,0.569887
14,40,3,5,12,Florida,18801310,18804564,18845537,19053237,19297822,...,6.268893,8.925935,10.561534,11.079296,13.202431,16.491494,18.258305,15.616389,12.657811,10.420286
15,40,3,5,13,Georgia,9687653,9688729,9711881,9802431,9901430,...,4.702641,2.953730,3.703741,1.655839,3.977992,5.719232,7.107500,5.868999,5.434037,6.127537
16,40,4,9,15,Hawaii,1360301,1360307,1363963,1379329,1394804,...,-9.742408,4.622184,5.086274,3.508325,-1.314307,0.317282,-1.303336,-6.875992,-5.974019,-6.207022
17,40,4,8,16,Idaho,1567582,1567657,1570746,1583910,1595324,...,15.468110,1.311712,0.507040,3.321347,6.047525,5.947892,13.145583,15.602505,13.921714,15.562524
18,40,2,3,17,Illinois,12830632,12831572,12840503,12867454,12882510,...,-8.268277,-2.635449,-3.393092,-3.135896,-5.111479,-6.028806,-6.905914,-6.649699,-7.328003,-6.755453
19,40,2,3,18,Indiana,6483802,6484051,6490432,6516528,6537703,...,0.595336,0.090413,-0.464677,1.323932,0.286119,-0.934854,0.694721,1.050827,2.846129,2.737025
20,40,2,4,19,Iowa,3046355,3046871,3050745,3066336,3076190,...,-1.589863,1.941776,-0.178103,2.301114,1.888640,0.567227,0.053100,0.618850,-0.656262,-0.744961
21,40,2,4,20,Kansas,2853118,2853123,2858190,2869225,2885257,...,-4.242985,-1.362919,0.469895,-2.140359,-2.254523,-1.321287,-3.615554,-4.291045,-2.581066,-2.833807
22,40,3,6,21,Kentucky,4339367,4339333,4348181,4369821,4386346,...,-0.345174,2.033035,0.963892,1.536343,-0.478285,0.484598,0.754274,1.766390,0.251531,-0.173819
23,40,3,7,22,Louisiana,4533372,4533487,4544532,4575625,4600972,...,-5.595970,2.073649,0.776105,0.975774,-0.241894,0.051995,-1.440045,-5.342778,-5.248091,-4.942803
24,40,1,1,23,Maine,1328361,1328358,1327629,1328284,1327729,...,4.929062,0.827587,-0.298191,0.722210,2.493115,-0.473902,3.478746,4.083380,4.968453,5.564109
25,40,3,5,24,Maryland,5773552,5773794,5788645,5839419,5886992,...,-3.917566,3.612639,3.257604,1.717501,1.118979,0.275479,-1.383949,-0.238959,-1.416954,-1.432606
26,40,1,1,25,Massachusetts,6547629,6547785,6566307,6613583,6663005,...,-4.395455,4.286075,4.593951,5.051165,4.922265,2.612559,2.069639,3.476476,1.619656,-0.268309
27,40,2,3,26,Michigan,9883640,9884116,9877510,9882412,9897145,...,-2.370446,-1.951728,-0.914581,-0.504689,-0.537824,-1.527775,0.057639,0.780980,-0.300042,-1.053932
28,40,2,4,27,Minnesota,5303925,5303927,5310828,5346143,5376643,...,0.011560,1.305812,0.394301,1.783298,1.689162,0.829590,2.493826,3.270817,2.832317,1.632242
29,40,3,6,28,Mississippi,2967297,2968130,2970548,2978731,2983816,...,-3.605740,-0.822957,-1.872690,-1.003595,-2.134072,-3.047029,-2.403450,-1.672565,-4.275713,-3.125981
30,40,2,4,29,Missouri,5988927,5988950,5995974,6010275,6024367,...,-0.115833,-0.993982,-0.889266,-0.154827,-0.458795,0.122692,-0.033720,1.182732,0.500152,0.781953
31,40,4,8,30,Montana,989415,989407,990697,997316,1003783,...,5.657818,3.754503,3.343163,6.905091,5.146804,5.514670,7.574829,9.217801,5.947528,5.960244
32,40,2,4,31,Nebraska,1826341,1826305,1829542,1840672,1853303,...,-2.186516,0.577623,1.178135,1.185936,1.783368,0.927174,2.058525,0.545850,-0.028114,-0.479272
33,40,4,8,32,Nevada,2700551,2700677,2702405,2712730,2743996,...,14.148840,-1.942334,6.142878,6.565982,9.763662,12.403407,12.971212,13.758376,15.559809,13.831198
34,40,1,1,33,New Hampshire,1316470,1316462,1316762,1320202,1324232,...,3.294294,0.918480,1.773536,0.608106,4.345173,2.061662,4.098322,4.916959,3.756866,4.729513
35,40,1,2,34,New Jersey,8791894,8791978,8799446,8828117,8844942,...,-5.509389,-0.789559,-2.093922,-2.140785,-2.868381,-3.080788,-3.261555,-1.374719,-2.792216,-3.113650
36,40,4,8,35,New Mexico,2059179,2059199,2064552,2080450,2087309,...,-1.019675,2.163570,-1.726107,-2.408853,-5.738621,-4.161423,-2.261703,-2.592619,-1.819561,-0.281652
37,40,1,2,36,New York,19378102,19378144,19399878,19499241,19572932,...,-9.267874,0.310701,-0.963243,-1.791701,-3.130145,-4.174457,-5.379085,-6.127425,-6.406096,-6.920598
38,40,3,5,37,North Carolina,9535483,9535751,9574323,9657592,9749476,...,6.453184,4.365764,5.258187,5.932176,5.279168,6.612526,9.049543,8.311209,8.409553,7.812475
39,40,2,4,38,North Dakota,672591,672576,674715,685225,701176,...,-1.666950,10.715179,16.716664,22.949497,14.080772,15.315123,-6.451442,-5.683143,-1.711806,-0.415751
40,40,2,3,39,Ohio,11536504,11536751,11539336,11544663,11548923,...,-1.105564,-1.900104,-1.878444,0.335559,-0.055998,-0.500254,-0.335715,0.934403,0.081934,-0.287861
41,40,3,7,40,Oklahoma,3751351,3751582,3759944,3788379,3818814,...,0.967937,3.614843,3.929176,5.064632,2.750342,4.513278,0.852239,-1.553900,-0.013974,2.103529
42,40,4,9,41,Oregon,3831074,3831079,3837491,3872036,3899001,...,6.148133,5.617206,3.885453,3.054669,7.349495,10.517812,15.722384,11.095753,7.451555,6.932692
43,40,1,2,42,Pennsylvania,12702379,12702868,12711160,12745815,12767118,...,-1.530139,1.552816,0.503431,-0.058645,-0.161708,-0.927692,-0.973673,0.284710,0.855382,-0.004375
44,40,1,1,44,Rhode Island,1052567,1052964,1053959,1053649,1054621,...,-3.036388,-1.483198,-0.632746,-0.701521,-0.066319,-0.587121,-0.319949,-1.596256,1.782437,0.406111
45,40,3,5,45,South Carolina,4625364,4625366,4635649,4671994,4717354,...,10.365420,4.472883,6.269019,7.244263,9.607938,11.600778,11.241529,11.026696,11.161729,11.484168
46,40,2,4,46,South Dakota,814180,814198,816166,823579,833566,...,1.093369,3.550552,6.513612,4.626817,1.715693,0.454461,5.211464,6.635312,1.345082,1.567465
47,40,3,6,47,Tennessee,6346105,6346276,6355311,6399291,6453898,...,5.295128,3.999341,5.375475,3.586588,4.550168,5.190219,6.072290,7.675288,7.543825,6.661665
48,40,3,7,48,Texas,25145561,25146091,25241971,25645629,26084481,...,4.361336,7.456866,8.764683,7.132347,10.003069,10.644301,8.369711,6.510551,5.448428,6.618846
49,40,4,8,49,Utah,2763885,2763891,2775332,2814384,2853375,...,4.902266,0.776426,1.451720,3.053374,1.683429,3.858608,9.016381,8.864528,6.983989,6.656804
50,40,1,1,50,Vermont,625741,625737,625879,627049,626090,...,-1.092645,0.897099,-2.464212,-0.352951,-2.290191,-0.028790,-2.507861,1.543268,0.440457,-0.479033
51,40,3,5,51,Virginia,8001024,8001049,8023699,8101155,8185080,...,-1.072502,4.396815,5.054575,3.455999,2.208119,1.521520,1.273915,2.382525,0.786684,0.673014
52,40,4,9,53,Washington,6724540,6724540,6742830,6826627,6897058,...,4.950999,6.906540,4.878573,4.473256,7.799901,10.408549,13.254138,12.865626,9.468242,8.135276
53,40,3,5,54,West Virginia,1852994,1853018,1854239,1856301,1856872,...,-3.933336,1.901071,0.828402,-0.825701,-1.779985,-2.551781,-4.330978,-5.336583,-4.484031,-4.127417
54,40,2,3,55,Wisconsin,5686986,5687285,5690475,5705288,5719960,...,-0.247295,-0.777306,-0.834993,0.066337,-0.421473,-1.068755,-0.628600,0.729926,0.763089,0.327262
55,40,4,8,56,Wyoming,563626,563775,564487,567299,576305,...,-1.750320,-0.379930,10.019202,4.863492,-4.816885,0.207166,-7.182252,-13.322489,-5.725739,-0.819814
56,40,X,X,72,Puerto Rico,3725789,3726157,3721525,3678732,3634488,...,0.000000,-14.533549,-14.982183,-13.803542,-18.263032,-18.480599,-19.848533,-23.228903,-37.860351,2.421463

In [44]:
print(pop.head()); print(data2.head());

   SUMLEV REGION DIVISION  STATE              NAME  ESTIMATESBASE2020  \
0      10      0        0      0     United States          331449281
1      20      1        0      0  Northeast Region           57609148
2      20      2        0      0    Midwest Region           68985454
3      20      3        0      0      South Region          126266107
4      20      4        0      0       West Region           78588572

   POPESTIMATE2020  POPESTIMATE2021  NPOPCHG_2020  NPOPCHG_2021  ...  \
0        331501080        331893745         51799        392665  ...
1         57525633         57159838        -83515       -365795  ...
2         68935174         68841444        -50280        -93730  ...
3        126409007        127225329        142900        816322  ...
4         78631266         78667134         42694         35868  ...

   NETMIG2020  NETMIG2021  RESIDUAL2020  RESIDUAL2021  RBIRTH2021  RDEATH2021  \
0       12247      244622             0             0   10.798957   10.352637
1      -79429     -333592         -1024         -1151    9.950554   10.492070
2      -47266      -85268          -718          5156   10.860566   11.058248
3      134454      770076           528         -3385   11.168835   10.777476
4        4488     -106594          1214          -620   10.767153    8.947910

   RNATURALINC2021  RINTERNATIONALMIG2021  RDOMESTICMIG2021  RNETMIG2021
0         0.446319               0.737485          0.000000     0.737485
1        -0.541516               0.977386         -6.794897    -5.817511
2        -0.197682               0.549222         -1.786994    -1.237772
3         0.391359               0.886268          5.186064     6.072332
4         1.819243               0.487570         -1.842880    -1.355309

[5 rows x 30 columns]
   SUMLEV REGION DIVISION  STATE              NAME  CENSUS2010POP  \
0      10      0        0      0     United States      308745538
1      20      1        0      0  Northeast Region       55317240
2      20      2        0      0    Midwest Region       66927001
3      20      3        0      0      South Region      114555744
4      20      4        0      0       West Region       71945553

   ESTIMATESBASE2010  POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  ...  \
0          308758105        309321666        311556874        313830990  ...
1           55318443         55380134         55604223         55775216  ...
2           66929725         66974416         67157800         67336743  ...
3          114563030        114866680        116006522        117241208  ...
4           71946907         72100436         72788329         73477823  ...

   RDOMESTICMIG2019  RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
0          0.000000     2.493773     2.682083     2.636187     2.921500
1         -5.254530     0.887909    -0.038355    -0.469783    -0.986097
2         -2.365881    -0.963930    -0.973943    -0.006924    -0.762969
3          3.261349     5.130513     5.850458     5.292073     6.161501
4          0.614245     2.723344     3.062896     3.162262     4.026429

   RNETMIG2015  RNETMIG2016  RNETMIG2017  RNETMIG2018  RNETMIG2019
0     3.260435     3.252788     2.871957     2.153911     1.818059
1    -2.061965    -2.490484    -1.837048    -2.134447    -2.859713
2    -1.388437    -1.241784    -0.557370    -0.922755    -1.111173
3     7.277358     7.150074     6.198168     5.225519     5.203720
4     4.987285     5.261078     4.021194     3.044951     2.312083

[5 rows x 151 columns]

In [45]:
merged=pd.merge(pop,data2, how='outer')

In [46]:
merged.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,NPOPCHG_2020,NPOPCHG_2021,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,331449281,331501080,331893745,51799,392665,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,57609148,57525633,57159838,-83515,-365795,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,0,Midwest Region,68985454,68935174,68841444,-50280,-93730,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,0,South Region,126266107,126409007,127225329,142900,816322,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,0,West Region,78588572,78631266,78667134,42694,35868,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083

In [47]:
data2.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,308745538,308758105,309321666,311556874,313830990,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,55317240,55318443,55380134,55604223,55775216,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,0,Midwest Region,66927001,66929725,66974416,67157800,67336743,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,0,South Region,114555744,114563030,114866680,116006522,117241208,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,0,West Region,71945553,71946907,72100436,72788329,73477823,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083

In [48]:
merged.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'NAME', 'ESTIMATESBASE2020',
       'POPESTIMATE2020', 'POPESTIMATE2021', 'NPOPCHG_2020', 'NPOPCHG_2021',
       ...
       'RDOMESTICMIG2019', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015', 'RNETMIG2016', 'RNETMIG2017',
       'RNETMIG2018', 'RNETMIG2019'],
      dtype='object', length=176)

In [49]:
pop.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'NAME', 'ESTIMATESBASE2020',
       'POPESTIMATE2020', 'POPESTIMATE2021', 'NPOPCHG_2020', 'NPOPCHG_2021',
       'BIRTHS2020', 'BIRTHS2021', 'DEATHS2020', 'DEATHS2021',
       'NATURALINC2020', 'NATURALINC2021', 'INTERNATIONALMIG2020',
       'INTERNATIONALMIG2021', 'DOMESTICMIG2020', 'DOMESTICMIG2021',
       'NETMIG2020', 'NETMIG2021', 'RESIDUAL2020', 'RESIDUAL2021',
       'RBIRTH2021', 'RDEATH2021', 'RNATURALINC2021', 'RINTERNATIONALMIG2021',
       'RDOMESTICMIG2021', 'RNETMIG2021'],
      dtype='object')

In [50]:
merged.isnull().any()

SUMLEV         False
REGION         False
DIVISION       False
STATE          False
NAME           False
               ...
RNETMIG2015    False
RNETMIG2016    False
RNETMIG2017    False
RNETMIG2018    False
RNETMIG2019    False
Length: 176, dtype: bool

In [53]:
merged[merged['NAME'].isnull().head()].unique()

C:\Users\User\AppData\Local\Temp\ipykernel_8104\2659670398.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  merged[merged['NAME'].isnull().head()].unique()

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [54]:
merged.describe()

,SUMLEV,STATE,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,NPOPCHG_2020,NPOPCHG_2021,BIRTHS2020,BIRTHS2021,DEATHS2020,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
count,57.000000,57.000000,5.700000e+01,5.700000e+01,5.700000e+01,57.000000,57.000000,57.000000,5.700000e+01,57.000000,...,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,38.070175,27.175439,1.750235e+07,1.750500e+07,1.752535e+07,2650.192982,20351.596491,47079.807018,1.888508e+05,45046.807018,...,0.331243,2.136492,2.439650,2.562778,1.887051,2.312185,2.228335,1.859472,1.232621,1.828702
std,6.391567,18.125675,4.771635e+07,4.772680e+07,4.779697e+07,29068.746533,152983.642901,128769.754520,5.173888e+05,122846.459921,...,5.676826,4.080487,4.784983,5.029317,5.604569,6.155117,6.690476,7.092572,7.766299,5.439458
min,10.000000,0.000000,5.768510e+05,5.772670e+05,5.788030e+05,-83515.000000,-365795.000000,1375.000000,5.057000e+03,1384.000000,...,-12.929847,-14.533549,-14.982183,-13.803542,-18.263032,-18.480599,-19.848533,-23.228903,-37.860351,-12.031221
25%,40.000000,12.000000,1.961504e+06,1.961455e+06,1.963692e+06,-4336.000000,-7550.000000,5513.000000,2.131600e+04,5705.000000,...,-3.130827,0.242487,-0.409588,-0.154827,-0.762969,-0.934854,-1.440045,-1.596256,-1.711806,-1.053932
50%,40.000000,27.000000,5.024279e+06,5.024803e+06,5.039877e+06,44.000000,4611.000000,13339.000000,5.594200e+04,13460.000000,...,-0.247295,1.901071,1.416798,1.655839,1.689162,0.626357,0.754274,1.182732,0.855382,0.673014
75%,40.000000,41.000000,1.007733e+07,1.006766e+07,1.005081e+07,8666.000000,24608.000000,26541.000000,1.029830e+05,25664.000000,...,4.702641,4.278167,5.054575,4.863492,5.146804,5.719232,7.107500,6.510551,5.434037,5.960244
max,40.000000,72.000000,3.314493e+08,3.315011e+08,3.318937e+08,142900.000000,816322.000000,893000.000000,3.581986e+06,853448.000000,...,15.468110,16.246186,16.716664,22.949497,14.080772,16.491494,18.258305,15.616389,15.559809,15.562524

In [55]:
pop.describe()

,SUMLEV,STATE,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,NPOPCHG_2020,NPOPCHG_2021,BIRTHS2020,BIRTHS2021,DEATHS2020,...,NETMIG2020,NETMIG2021,RESIDUAL2020,RESIDUAL2021,RBIRTH2021,RDEATH2021,RNATURALINC2021,RINTERNATIONALMIG2021,RDOMESTICMIG2021,RNETMIG2021
count,57.000000,57.000000,5.700000e+01,5.700000e+01,5.700000e+01,57.000000,57.000000,57.000000,5.700000e+01,57.000000,...,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,38.070175,27.175439,1.750235e+07,1.750500e+07,1.752535e+07,2650.192982,20351.596491,47079.807018,1.888508e+05,45046.807018,...,617.192982,12808.508772,0.000000,0.000000,10.678652,10.672481,0.006171,0.639981,1.350826,1.990806
std,6.391567,18.125675,4.771635e+07,4.772680e+07,4.779697e+07,29068.746533,152983.642901,128769.754520,5.173888e+05,122846.459921,...,26913.195662,144634.087881,388.508733,1132.094787,1.312512,1.471925,2.192209,0.452287,8.734507,8.632844
min,10.000000,0.000000,5.768510e+05,5.772670e+05,5.788030e+05,-83515.000000,-365795.000000,1375.000000,5.057000e+03,1384.000000,...,-79429.000000,-352960.000000,-1038.000000,-3645.000000,5.664371,6.697324,-5.525145,-1.155364,-33.864086,-32.205437
25%,40.000000,12.000000,1.961504e+06,1.961455e+06,1.963692e+06,-4336.000000,-7550.000000,5513.000000,2.131600e+04,5705.000000,...,-2880.000000,-3886.000000,-72.000000,-81.000000,10.248187,9.789697,-1.347186,0.383209,-1.786994,-1.323916
50%,40.000000,27.000000,5.024279e+06,5.024803e+06,5.039877e+06,44.000000,4611.000000,13339.000000,5.594200e+04,13460.000000,...,47.000000,4864.000000,-18.000000,116.000000,10.798957,10.507441,0.073021,0.601088,0.812103,1.373276
75%,40.000000,41.000000,1.007733e+07,1.006766e+07,1.005081e+07,8666.000000,24608.000000,26541.000000,1.029830e+05,25664.000000,...,4488.000000,19791.000000,20.000000,268.000000,11.267544,11.682629,0.965595,0.886268,6.211605,6.723636
max,40.000000,72.000000,3.314493e+08,3.315011e+08,3.318937e+08,142900.000000,816322.000000,893000.000000,3.581986e+06,853448.000000,...,134454.000000,770076.000000,1608.000000,5156.000000,13.643905,15.171477,6.946581,1.809817,26.076275,26.296618

In [56]:
merged.min()

SUMLEV                10
REGION                 0
DIVISION               0
STATE                  0
NAME             Alabama
                 ...
RNETMIG2015   -18.480599
RNETMIG2016   -19.848533
RNETMIG2017   -23.228903
RNETMIG2018   -37.860351
RNETMIG2019   -12.031221
Length: 176, dtype: object

In [57]:
d1=pd.read_csv('~/downloads/student-mat.csv', sep=";")
d2=pd.read_csv('~/downloads/student-por.csv', sep=';')

In [58]:
print(d1);print(d2)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
644     MS   F   19       R     GT3       T     2     3  services     other
645     MS   F   18       U     LE3       T     3     1   teacher  services
646     MS   F   18       U     GT3       T     1     1     other     other
647     MS   M   17       U     LE3       T     3     1  services  services
648     MS   M   18       R     LE3       T     3     2  services     other

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        4   0  11  11
1    ...      5        3      3     1     1      3        2   9  11  11
2    ...      4        3      2     2     3      3        6  12  13  12
3    ...      3        2      2     1     1      5        0  14  14  14
4    ...      4        3      2     1     2      5        0  11  13  13
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
644  ...      5        4      2     1     2      5        4  10  11  10
645  ...      4        3      4     1     1      1        4  15  15  16
646  ...      1        1      1     1     1      5        6  11  12   9
647  ...      2        4      5     3     4      2        6  10  10  10
648  ...      4        4      1     3     4      5        4  10  11  11

[649 rows x 33 columns]

In [59]:
print(d1);print(d2);print(pd.merge(d1,d2))

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
644     MS   F   19       R     GT3       T     2     3  services     other
645     MS   F   18       U     LE3       T     3     1   teacher  services
646     MS   F   18       U     GT3       T     1     1     other     other
647     MS   M   17       U     LE3       T     3     1  services  services
648     MS   M   18       R     LE3       T     3     2  services     other

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        4   0  11  11
1    ...      5        3      3     1     1      3        2   9  11  11
2    ...      4        3      2     2     3      3        6  12  13  12
3    ...      3        2      2     1     1      5        0  14  14  14
4    ...      4        3      2     1     2      5        0  11  13  13
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
644  ...      5        4      2     1     2      5        4  10  11  10
645  ...      4        3      4     1     1      1        4  15  15  16
646  ...      1        1      1     1     1      5        6  11  12   9
647  ...      2        4      5     3     4      2        6  10  10  10
648  ...      4        4      1     3     4      5        4  10  11  11

[649 rows x 33 columns]
Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]

In [60]:
d3=pd.merge(d1,d2, how='outer')
d3

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
1040,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
1041,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
1042,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
1043,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [61]:
d3.groupby('school')['age'].median()

school
GP    17.0
MS    17.0
Name: age, dtype: float64

In [62]:
d3.groupby('school')['Pstatus'].describe()

       count unique top freq
school
GP       772      2   T  679
MS       272      2   T  244

In [63]:
#iteration over groups
for(school,group) in d3.groupby('school'):
    print("{0:30s} shape={1}".format(school,group.shape))

GP                             shape=(772, 33)
MS                             shape=(272, 33)

In [64]:
import matplotlib.pyplot as plt
import seaborn; seaborn.set()